<% layout("boilerplate.ejs") %>

    <% if(success && success.length){ %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= success %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>

            <% if(error && error.length){ %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= error %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <% } %>

                    <h1>Home page for matchUp</h1>

                    <div class="row">
                        <div class="col-6 ms-auto">
                            <h1 class="text-center">Register</h1>
                            <form class="validated-form" novalidate action="/register" method="POST">
                                <div class="mb-3">

                                    <label class="form-label" for="username">Username</label>
                                    <input class="form-control" type="text" id="username" name="username" required>
                                    <div class="valid-feedback"></div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="email">Email</label>
                                    <input class="form-control" type="email" id="email" name="email" required>
                                    <div class="valid-feedback"></div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="password">Password</label>
                                    <input class="form-control" type="password" id="password" name="password" required>
                                    <div class="valid-feedback"></div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="city">City</label>
                                    <input class="form-control" type="text" id="city" name="city" required>
                                    <div class="valid-feedback"></div>
                                </div>


                                <div class="mb-3">
                                    <label class="form-label" for="image">Image URL</label>
                                    <input class="form-control" type="text" id="image" name="image" required>
                                    <div class="valid-feedback"></div>
                                </div>

                                <!-- image url: https://source.unsplash.com/collection/1390381 -->

                                <button class="btn btn-success">Register</button>
                            </form>
                        </div>
                    </div>